{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="static/styles/sidebyside.css">
{% endblock %}


{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
        <img src="static/images/party (1).jpg" width="100%">
    </div>
    <div class="column">
        <img src="static/images/party (2).jpg" width="100%">
    </div>
</div>
<div class="row">
    <div class="column">
        <img src="static/images/nightlucknow (1).jpg" width="100%">
    </div>
    <div class="column">
        <img src="static/images/nightlucknow (2).jpg" width="100%">
    </div>
</div>
<div class="row">
    <div class="column">
        <img src="static/images/nightlucknow (3).jpg" width="100%">
    </div>
    <div class="column">
        <img src="static/images/nightlucknow (4).jpg" width="100%">
    </div>
</div>
<div class="row">
    <div class="column">
        <img src="static/images/morninglucknow (1).jpg" width="100%">
    </div>
    <div class="column">
        <img src="static/images/morninglucknow (2).jpg" width="100%">
    </div>
</div>
{% endblock %}